h1{
  line-height: 40px;
  font-size: 22px;
  font-family:'Roboto';
}

p{
  line-height: 30px;
  font-size: 16px;
  font-family:'Roboto';
}

.top{
  
  background-image: url("/static/img/top.jpg")
}

.header{
  background-image: url("/static/img/top.jpg")
}

.name{
  font-family:'Kaushan Script';
  font-size:200%;
}

@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: url(https://themes.googleusercontent.com/static/fonts/kaushanscript/v1/qx1LSqts-NtiKcLw4N03IFhlQWQpSCpzb2Peu3I-Q34.woff) format('woff');
}
