h1{
  line-height: 40px;
  font-size: 22px;
  font-family:'Roboto';
  margin: 30px auto;
}


h3{
  line-height: 30px;
  font-size: 20px;
  font-family:'Roboto';
}

h4{
  line-height: 30px;
  font-size: 18px;
  font-family:'Roboto';
}

p{
  line-height: 30px;
  font-size: 14px;
  font-family:'Roboto';
}

img{
  width:inherit;
}


.header{
  background-image: url("../static/img/yokohama.jpg");
  background-blend-mode:lighten;
  background-position: (0, 0);
  text-align: center;
  min-height: 600px;
  margin-bottom: 20px;
}

.header img{
  margin-top: 150px;
  margin-bottom: 30px;
  width: 30%;
  border-radius: 50%;
}

.header p{
  margin: 10px auto;
}

.header::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(65, 105, 255, 0.7);;
    opacity: 0.7;
    min-height: 400px;
    height: fit-content;
}
.name{
  font-family:'Kaushan Script';
  font-size:200%;
  color: white;
}

.body{
  margin:0 5% 100px 5%;
}




@media screen and (min-width:768px) {
  .header img{
    width: 10%;
  }
  .header{
    min-height: 600px;
    margin-bottom: 50px;
  }
  .header::after{
      min-height: 600px;
  }
  .name{
    font-size:400%;
  }

  .body{
    margin:0 5% 300px 5%;
  }



}
.note{
  margin-bottom: 30px;
}

@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: url(https://themes.googleusercontent.com/static/fonts/kaushanscript/v1/qx1LSqts-NtiKcLw4N03IFhlQWQpSCpzb2Peu3I-Q34.woff) format('woff');
}
